Options +FollowSymLinks
RewriteEngine on

RewriteRule (styles/.*) $1 [L]
RewriteRule (scripts/.*) $1 [L]
RewriteRule (resources/.*) $1 [L]

RewriteRule index.php index.php?controller=home [QSA]
RewriteRule ^([^/]+)/?$ index.php?controller=$1 [QSA]
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?controller=$1&action=$2 [QSA]