<html ng-app="myApp">
<!--test-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Magic Formula</title>

    <!-- CSS -->
    <link href="dist/css/magic.css" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="dist/css/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="dist/css/jquery.min.js"></script>
    <script src="dist/css/jquery-ui.min.js"></script>
    <link href="dist/css/jquery-ui.min.css" rel="stylesheet">
</head>

<body ng-controller="NumberController" ng-init="init()">
     <div id="wrapper">
        <h1 >Complete la formule magique !</h1>
        <table id="myTable" class='caricature-font'>
            <tr>
                <td>
                    <p id="number1"></p>
                </td>
                <td>
                    <p id="operator"></p>
                </td>
                <td>
                    <p id="number2"></p>
                </td>
                <td>
                    <p id="egal"> = </p>
                </td>
                <td>
                    <p id="question" ng-bind-html="result"></p>
                </td>
            </tr>
        </table>
		<div>
			<div class="alert alert-success" role="alert" ng-show="successMsg"> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> BRAVO, tu as trouvé la bonne solution !!!</div>
			<div class="alert alert-danger" role="alert" ng-show="errorMsg"> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> ERREUR, courage tu peux y arriver ! Il te reste {{tries}} essai(s)</div>
			<div class="alert alert-danger" role="alert" ng-show="!soluceDiv"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> DOMMAGE, tu n'as pas trouvé la solution...</div>
		</div>
        <div id="gabarit-box" class='caricature-font' ng-show="soluceDiv">
            <a href="#" id="soluce1" ng-click="error()"></a>
            <a href="#" id="soluce2" ng-click="error()"></a>
            <a href="#" id="soluce" ng-click="bravo()"></a>
        </div>
		<div>
			<img src="dist/img/next.png" ng-click="init()" ng-show="next">
		</div>
    </div>
    <script src="dist/script.js"></script>
</body>
</html>
