<html>
    <head>
        
        <link rel="stylesheet" href="../Lapinouss.css" type="text/css">
        
        <script type="text/javascript" src="../jquery-2.2.4.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js">
        </script>
            
        <script type="text/javascript" src="../Controller/GeometryFormController.js"></script>
        <script type="text/javascript" src="../Model/GeometryFormModel.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
                new GeometryFormController().init();
            });
        </script>
    </head>
    
    <body>
        <div class="content" >
            <div class="header">
                <span id="gametimer"></span>
                <span class="displayscore">
                    Votre score est de :<span id="score">0</span>
                </span>
            </div>
            <div id="endmessage">
                Le temps est termine!<br> 
                Votre score est de <span id="endscore"></span><br>
                <input type="button" id="buttonretry" value="Recommencer" />
            </div>
            <!--<div id="gamehome">
                <span class="rules">
                    Age conseille: 3ans<br>
                    Regles:<br>
                    <p>
                        l objectif est de regrouper les differentes formes par type, c est a dire les carre avec les carrees etc ...
                        On verras bien la place que ça prend okay au pire Blablabla
                    </p>
                </span>
                <span class="menu">            
                    <input type="button" id="playbutton" value="Play"/>
                    <br>
                    <input type="button" id="scorebutton" value="Score"/>
                </span>
            </div>-->
            <div>
                <img src="../image/square.png" class="droppable" data-form="square"/>
                <img src="../image/circle.png" class="droppable" data-form="circle"/>
                <img src="../image/star.png" class="droppable" data-form="star"/>
            </div>
            <div id="listgeometric"></div>
            <!--<input type="button" id="pausebutton" value="Pause"/>-->
        </div>
    </body>
</html>