<html>
    <head>
        
        <link rel="stylesheet" href="../Lapinouss.css" type="text/css">
        
        <script type="text/javascript" src="/Lapinouss/games/Geometry_Shapes/jquery-2.2.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"/>
            
        <script type="text/javascript" src="/Lapinouss/games/Geometry_Shapes/Controller/GeometryFormController.js"></script>
        <script type="text/javascript" src="/Lapinouss/games/Geometry_Shapes/Model/GeometryFormModel.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
                new GeometryFormController().init();
            });
        </script>
    </head>
    
    <body>
        <div class="content" >
            <div class="aheader">
                <span id="gametimer"></span>
                <span class="displayscore">
                    Votre score est de :<span id="score">0</span>
                </span>
            </div>
            <div id="endmessage">
                Le temps est termine!<br> 
                Votre score est de <span id="endscore"></span><br>
                <input type="button" id="buttonretry" value="Recommencer" />
            </div>
            <!--<div id="gamehome">
                <span class="rules">
                    Age conseille: 3ans<br>
                    Regles:<br>
                    <p>
                        l objectif est de regrouper les differentes formes par type, c est a dire les carre avec les carrees etc ...
                        On verras bien la place que ça prend okay au pire Blablabla
                    </p>
                </span>
                <span class="menu">            
                    <input type="button" id="playbutton" value="Play"/>
                    <br>
                    <input type="button" id="scorebutton" value="Score"/>
                </span>
            </div>-->
            <div>
                <span class="droppable" data-form="square">
                    <img src="/Lapinouss/games/Geometry_Shapes/image/square.png"/>
                </span>
                <span class="droppable" data-form="circle">
                    <img src="/Lapinouss/games/Geometry_Shapes/image/circle.png"/>
                </span>
                <span class="droppable" data-form="star">
                    <img src="/Lapinouss/games/Geometry_Shapes/image/star.png"/>
                </span>
            </div>
            <div id="listgeometric"></div>
            <!--<input type="button" id="pausebutton" value="Pause"/>-->
        </div>
    </body>
</html>