<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Lapinouss/games/Geometry_Shapes/Lapinouss.css" >
    </head>
    <body>
    <div class="score">
        score
        <div class="leftpanel">
            Left
        </div>
        <div class="rightpanel">
            Right
            <table class="listscore">
                <thead>
                    <td></td>
                </thead>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>    
        </div>
    </div>
    <div class="trophy">
        trophy
        <table class="listtrophy">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    </body>
</html>